.card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: end;
  color: white;
  height: 16rem;
  width: 16rem;
  border-radius: 20px;
  padding: 1rem;
  margin: 0.25rem;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  .card_img {
    max-width: 16rem;
  }
  &:hover {
    opacity: 0.5;
  }
}
